<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="text_representation"
            kind="string"
            name="Text Representation">
      </attributeType>
      <attributeType
            id="text_lastmodified"
            kind="long"
            name="Text LastModified">
      </attributeType>
      <attributeType
            id="syntax_extensions"
            kind="string"
            name="syntaxExtensions">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.core.machineFile">
         <attributeType
               typeId="org.eventb.texttools.text_representation">
         </attributeType>
         <attributeType
               typeId="org.eventb.texttools.text_lastmodified">
         </attributeType>
         <attributeType
               typeId="org.eventb.texttools.syntax_extensions">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.core.contextFile">
         <attributeType
               typeId="org.eventb.texttools.text_representation">
         </attributeType>
         <attributeType
               typeId="org.eventb.texttools.text_lastmodified">
         </attributeType>
         <attributeType
               typeId="org.eventb.texttools.syntax_extensions">
         </attributeType>
      </relationship>
   </extension>
<!--   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            label="EventB Match Engine"
            engineClass="org.eventb.texttools.merge.EventBMatchEngine"
            fileExtension="bum,buc">
      </matchengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.mergerprovider">
      <mergerprovider
            fileExtension="bum,buc"
            mergerProviderClass="org.eventb.texttools.merge.MergerProvider"
            priority="highest">
      </mergerprovider>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="org.eventb.texttools.diff.EventBDiffEngine"
            label="Event-B Difference Engine"
            priority="highest">
      </diffengine>
   </extension> -->
</plugin>
