<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="camille_target" sequenceNumber="90">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ac.soton.eventb.roseEditor.feature.feature.group" version="1.6.1"/>
<unit id="org.eventb.emf.feature.feature.group" version="5.4.0"/>
<unit id="org.eventb.emf.sdk.feature.group" version="5.4.0"/>
<repository location="http://rodin-b-sharp.sourceforge.net/updates/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="fr.systerel.editor.feature.group" version="0.9.2.201802230927-6980ca1"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.2.v20171130-0510"/>
<unit id="org.eventb.ide.feature.group" version="3.4.0.201802230927-6980ca1"/>
<unit id="org.rodinp.feature.group" version="1.8.1.201802230927-6980ca1"/>
<unit id="org.rodinp.platform.feature.group" version="3.4.0.201802230927-6980ca1"/>
<unit id="org.rodinp.platform.sources.feature.group" version="3.4.0.201802230927-6980ca1"/>
<repository location="https://www3.hhu.de/stups/buildlibs/org.rodinp.dev/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.feature.group" version="3.3.4.201806221350"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.4.201806221350"/>
<unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="3.3.4.201806221350"/>
<unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="3.3.4.201806221350"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.4.201806221350"/>
<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases"/>
</location>
</locations>
</target>
