<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="prob_target" sequenceNumber="80">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.rodinp.platform.product" version="3.2.0.201506220911-ecacdcb"/>
<repository location="http://rodin-b-sharp.sourceforge.net/core-updates/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ac.soton.eventb.roseEditor.feature.feature.group" version="1.7.0.release"/>
<unit id="org.eventb.emf.feature.feature.group" version="6.0.0.release"/>
<repository location="http://rodin-b-sharp.sourceforge.net/updates/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.4.v20180330-0640"/>
<unit id="org.eclipse.sdk.feature.group" version="4.7.3.v20180330-0919"/>
<repository location="http://download.eclipse.org/releases/oxygen/201804111000"/>
</location>
</locations>
</target>
